/*css file*/
body{
  margin: 0px;
  padding: 0px;
  background: #333;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;

}
.my-form{
  background: #fff;
  padding: 40px 42px 60px;
  border-radius: 5px;
}

.single-input{
  width: 270px;
  border:1px solid #c1c1c1;
  display: flex;
  margin-bottom: 15px;
}

.single-input input{
  border:0px solid #c1c1c1;
  width: 100%;
  outline: none;
  height: 30px;
  font-size: 18px;
}


.f{
  float: right;
  padding: 7px;
  color: white;
  background-color: #2d80b5;
  border-radius: 6px;
}

.img {
border-radius: 110px;
padding: 50px;

}

.a{
  
  background-color: #6c757d26;
}

.g{
  padding-top: 30px;
 
  padding-right: 115px;
  text-align: center;

}
.g a{
  color: #343a40;
  text-decoration: none;
}

i {
    padding-top: 20px;
    padding-left: 25px;
}


input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid lightblue !important;
box-shadow: 0 0 3px lightblue !important;
}

input[type="text"], input[type="password"]{
  background-color:#e2dfdf36;

